*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.container-cards {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #FCD8AC;

    background-image: 
        url('/img/pata.png'),   /* Pata à esquerda */
        url('/img/osso.png');   /* Osso à direita inferior */

    background-repeat: no-repeat, no-repeat;
    background-position: left 10px top 80px, right 40px bottom 40px;
    background-size: 350px, 200px; /* Ajuste o tamanho conforme necessário */
}

.introduce-pets{
    padding: 10px;
    text-align: center;
    margin: 30px 8%;
}

.introduce-pets p{
    font-size: 14px;
}

.cards-pet{
    max-width: 1200px;
    margin: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.pets{
    width: 351px;
    background-color: #f2f4f3;
    border-radius: 6PX;
    cursor: pointer;
    transition: .3s;
}
.pets:hover{
    box-shadow: 4px 4px 10px rgba(1, 79, 131, 0.449);
}

.pet-image {
    width: 351px;
    height: 230px;
    background-size: cover;
    background-position: center;
    display: flex;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.pet p{
    width: 100%;
    text-align: center;
    margin: 8px 12%;
    background-color: rgba(0, 68, 255, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 40px;
    font-size: 14px;
}

.name-years{
    
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    margin: 4px 8%;
}

.category{
    margin: 2px 6%;
    padding-top: 8px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.porte{
    color: rgba(0, 68, 255, 0.8);
    font-weight: bold;
}

.genero {
    padding: 2px 12px;
    border: 2px solid #BFDBFE; /* azul claro */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    
  }
  
  .genero p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  
  .genero.macho p {
    color: #2563EB; /* azul */
  }
  
  .genero.femea p {
    color: #D81DA0; /* rosa */
  }
  

.subtitles-pet{
    margin: 20px 6%;
    font-size: 14px;
}

.health{
    margin: 2px 6%;
    display: flex;
    gap: 12px;
}

.vacinado {  
    background-color: #DCFCE7;
    width: 80px;
    border-radius: 30px;
    padding: 6px;
    text-align: center;
}

.castrado{
    background-color: #DBEAFE;
    width: 80px;
    border-radius: 30px;
    padding: 6px;
    text-align: center;
}

.vacinado p{
    font-size: 12px;
    color:#166534 ;
    font-weight: bold;
}

.castrado p{
    font-size: 12px;
    color:rgb(30, 64, 175) ;
    font-weight: bold;
}

.button{
    padding: 10px;
    width: 300px;
    text-align: center;
    margin: 16px 8%;
    border: none;
    border-radius: 4px;
    background-color: #0789CF;
    color: #ffffff;
    cursor: pointer;
    transition: .4s;
}

.button:hover{
    background-color: #03466a;
}

.button-card{
    margin-top: 50px;
    text-align: center;
}

.button-card button{
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #F97316;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.button-card button:hover{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.704);
}

@media(max-width: 400px){
    .container-cards{
        padding-top: 10px;
        background-color: #FCD8AC;
        background-image: url('/img/pata.png');
        background-repeat: no-repeat, no-repeat;
        background-position: left -20px top 150px, right 40px bottom 40px;
        background-size: 100px, 200px; /* Ajuste o tamanho conforme necessário */
    } 
}