.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    background-color: #fff;
    padding: 16px;
    border-radius: 12px;
    margin: 24px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
  
  .filtros input,
  .filtros select,
  .filtros button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .filtros button {
    background-color: #f5f5f5;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .filtros button:hover {
    background-color: #e0e0e0;
  }

  
  .paginacao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
  }
  
  .paginacao button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
  }
  
  .paginacao .pagina-ativa {
    background-color: #3498db;
    color: white;
  }

  .cards-pet {
    transition: opacity 0.4s ease;
  }
  
  .fade-out {
    opacity: 0;
  }

  .cards-pet {
    transition: opacity 0.4s ease;
  }
  
  .fade-in {
    animation: fadeIn 0.4s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 480px){
    .filtros {
      width: 350px;
      
      margin: 30px auto;
    }
    .filtros input,
    .filtros select,
    .filtros button {
      width: 200px;
    }
  }
  