* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 100px;

}

.logo-central{
  display: flex;
  gap: 5px;
}

.pata-logo{
  display: flex;
  border-radius: 50px;
  padding: 4px;
  background-color: #F97316;
}

.title-logo{
  display: flex;
  align-items: center;
}

header .title-logo p{
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  
}

.nav a {
  color: #374151;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: .2s;
}

.nav a:hover{
  color: #F97316;
}

.nav button {
  font-size: 16px;
  border-radius: 6px;
  border: none;
  height: 40px;
  background-color: rgb(235, 104, 33);
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

.nav button:hover{
  transform: scale(.9);
}



@media (max-width: 768px) {

  .menuButton{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly ;

  }
  .linha{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .nav{
    display: none;
  }

  .show {
    display: flex;
    width: 40vw;
    max-width: 300px;
    position: absolute;
    top: 70px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
  }

  .nav button {
    
  font-size: 3vw;
  border-radius: 6px;
  border: none;
  background-color: rgb(235, 104, 33);
  color: white;
  padding: 1vw 2vw;
  cursor: pointer;
}

}

@media (max-width: 460px) {

}

